* {
    margin: 0;
    padding: 0;
}
.class{
	
}
body {
    font-family: sans-serif;
	max-width: 600px;
	height: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2); /*тень для блока*/
    border-radius: 10px;
}
.gallery img{
	margin:5px;
	border:3px solid #fff;
	float: left;
}

a.photo{
	float: left;
	width: 230px;
	height: 230px;
}


#main {
	width:600px;
	margin:0 auto;
}
.post_title h2 {
	font: normal 2em Arial,sans-serif;
	margin: 0;
	padding: 0;
}


